@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Serif, serif;
  font-style: italic;
  font-weight: 400;
}

#form {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
}

button {
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgba(6, 77, 91, 0.899);
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  height: 25px;
  width: 50%;
  font-size: large;
}

#start-btn {
  margin-top: 10px;
  width: 30%;
  margin-bottom: 10px;
}

span {
  margin-top: 2px;
  margin-bottom: 20px;
  text-align: right;
}

input {
  justify-content: center;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: sans-serif;
}

.container {
  width: 500px;
  height: 500px;
  margin: auto;
}
.wrapper {
  margin: 70px 50px 70px 50px;
  padding: 35px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(
    115deg,
    #34ac68,
    #00b3f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    115deg,
    #34ac68,
    #00b3f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}
/* .checker {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.btn-coin {
  box-sizing: content-box;
  max-width: 40%;
} */

.notes {
  margin-bottom: 0;
}
